NEXT_PUBLIC_SUPABASE_URL=https://vpsvaablyhwkgakhsdep.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_zsMfcjU87K9ULydTJC77gg_QMCBTHxz
SUPABASE_SERVICE_ROLE_KEY=sb_secret_ZjC7xb2hESVV7lFhPSZ1uQ_pIqJP2wd
ADMIN_PASSWORD=123hassanOS
SHOP_WHATSAPP_PHONE=9613000000
WISH_MONEY_NAME=Rawey
WISH_MONEY_PHONE=+961 3 000 000
